@font-face {
  font-family: "SFFont";
  src: url("./font/SSF4_ABUKET.otf") format("opentype");
}

body {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", monospace;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

body:before {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(#0d122b, #0d122b 2px, #565b73 2px, #565b73 4px);
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}
.fighter {
  align-self: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

.splash-screen {
  width: 100vw;
  height: 100vh;
}

.title {
  margin: auto;
  font-family: "Permanent Marker", monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
  font-size: 2rem;
  line-height: 1.5;
  word-break: break-word;
  max-width: 500px;
}

.title h1 {
  background: -webkit-linear-gradient(rgb(255, 18, 18) 30%, rgb(255, 215, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-top {
  transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
  font-family: "SFFont";
}
.title-middle {
  transform: skew(-10deg) rotate(-10deg) translateX(-1rem);
  font-family: "SFFont";
}
.title-bottom {
  transform: skew(-10deg) rotate(-10deg) translateX(-1rem);
  font-family: "SFFont";
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: auto;
}

.buttons a {
  display: block;
  margin-bottom: 1rem;
  font-size: 5rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.credit {
  margin-top: 10px;
  pointer-events: none;
}

.grey-with-red {
  color: rgb(192, 192, 192);
  text-shadow: 2px 2px 0 rgb(192, 11, 11);
}

.purple-with-blue {
  color: rgb(147, 154, 255);
  text-shadow: 2px 2px 0 rgb(47, 61, 255);
}

.yellow-with-darkyellow {
  color: rgb(226, 179, 24);
  text-shadow: 0 2px 0 rgb(107, 77, 11), 2px 0 0 rgb(151, 109, 19), 2px 2px 0 rgb(151, 109, 19);
}

.yellow {
  color: rgb(226, 179, 24);
}

@media (min-width: 400px) {
  body {
    font-size: 1.2rem;
  }

  .big {
    font-size: 7rem;
  }
}

@media (min-width: 600px) {
  .big {
    font-size: 9rem;
  }

  .title {
    font-size: 3rem;
    height: 50vh;
  }

  .buttons {
    height: 40vh;
  }
}

@media (min-width: 800px) {
  .credit {
    position: absolute;
    right: 50px;
    margin-top: 0;
  }
}

.load {
  animation: load 800ms 500ms backwards;
}

@keyframes load {
  0% {
    filter: blur(2px) hue-rotate(-150deg);
  }
}

::selection {
  background: #b4fdff;
}

::-moz-selection {
  background: #b4fdff;
}
