@font-face {
  font-family: "pixelFont";
  src: url("./font/PublicPixel-0W5Kv.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./image/background4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#street {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.lifebar {
  display: flex;
  height: 3rem;
  width: 40%;
  background-color: orangered;
  border: 5px solid yellow;
  border-radius: 10px;
}

#p1-lost-life,
#p2-lost-life {
  background-color: cyan;
  width: 100%;
}

#timer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 20%;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  margin: 0 1rem;
  font-size: 60px;
  font-family: "pixelFont";
}
canvas {
  border: 1px solid red;
}

.endMessage {
  position: absolute;
  align-self: center;
  text-align: center;
  padding-top: 3.5rem;
  width: 40rem;
  height: 40rem;
  background-image: url(./image/ko_message.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
}

.invisible {
  display: none;
}
