@font-face {
  font-family: "pixelFont";
  src: url("./font/PublicPixel-0W5Kv.ttf") format("truetype");
}
@font-face {
  font-family: "SFFont";
  src: url("./font/SSF4_ABUKET.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./image/background1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#street {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.lifebar {
  display: flex;
  height: 3rem;
  width: 40%;
  background-color: whitesmoke;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 10px;
}

#p1-lost-life,
#p2-lost-life {
  background-color: #3cb436;
  width: 100%;
}

#timer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 6rem;
  width: 20%;
  border: 3px solid black;
  background: linear-gradient(90deg, rgba(254, 0, 0, 1) 0%, rgba(254, 131, 2, 1) 35%, rgba(249, 195, 0, 1) 100%);
  border-radius: 10px;
  margin: 0 1rem;
  font-size: 35px;
  font-family: "SFFont";
}
/* canvas {
  border: 1px solid red;
} */

.endMessage {
  position: absolute;
  align-self: center;
  text-align: center;
  padding-top: 3.5rem;
  width: 40rem;
  height: 40rem;
  background-image: url(./image/ko_message.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
}

.endMessage button {
  cursor: pointer;
  width: 15rem;
  height: 5rem;
  border-radius: 5px;
  border: 5px solid #240900;
  font-family: "SFFont";
  font-weight: bolder;
  font-size: 30px;
  background: linear-gradient(90deg, rgba(254, 0, 0, 1) 0%, rgba(254, 131, 2, 1) 35%, rgba(249, 195, 0, 1) 100%);
}

.endMessage button:hover {
  width: 17rem;
  height: 7rem;
  border-radius: 10px;
}
.invisible {
  display: none;
}
